/*
Crafted and Designed By DesignDrastic
Author: DesignDrastic
Author URL: http://designdrastic.com
License URL: http://designdrastic.com/license
*/

:root {
  --font-title: 'Rubik', sans-serif;
  --font-content: 'Karla', sans-serif;

  --clr-primary: #F77DD0;
  --clr-secondary: #FBD999;

  --clr-light: #fff;
  --clr-dark: #4c4c4c;
  --clr-gray: #6c6c6c;
  --clr-menu: #4c4c4c;
  --radius: 5px;
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
}
body {
  overflow-x: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  position: relative;
  width: 80%;
  max-width: 1250px;
  margin: 0 auto;
}
.w100v {
  width: 100vw;
}
.w100 {
  width: 100%;
}
.h100v {
  height: 100vh;
}
.h100 {
  height: 100%;
}
.p0 {
  margin: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.d-text-right {
  text-align: right;
}
/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.grid.gutter {
  column-gap: 15px;
}
.grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
/* Grid portion (1:3 & 2:3 row) */
.grid.grid-1-2 {
  grid-template-columns: 1fr 2fr;
}
/* 2:1 */
.grid.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}

/* Alignment and positions */
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}

/* Hero Section */
.dd-hero {
  position: relative;
  height: 70vh;
  margin-bottom: 70px;
}
.dd-hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  transform: scale(1.25);
  background: linear-gradient(135deg, var(--clr-primary), var(--clr-secondary));
  border-radius: 0 0 50% 50%;
}

/* Logo */
.dd-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: var(--font-title);
  font-weight: 800;
  color: var(--clr-light);
}

/* Header & Menu */
.dd-header {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1250px;
  padding: 5px 0;
  border-radius: 10px;
  z-index: 99;
  transition: all .5s ease;
  padding: 0 0;
}
.dd-header.sticky {
  top: 10px;
  padding: 0 20px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
  background: linear-gradient(135deg, var(--clr-primary), var(--clr-secondary));
}

/* Menu */
.dd-menu {
  float: right;
}
.dd-menu > li {
  display: inline-block;
}
.dd-menu > li > a {
  position: relative;
  display: inline-block;
  color: var(--clr-menu);
  font-family: var(--font-content);
  font-weight: 500;
  padding: 0 10px;
  font-size: 1.2rem;
  transition: all .2s;
}
.dd-menu > li > a {
  overflow: hidden;
}
.dd-menu > li > a span {
  display: inline-block;
  transition: all .5s;
}
.dd-menu > li > a span::after {
  position: absolute;
  left: 0;
  content: attr(dd-text);
  color: var(--clr-light);
  font-weight: 600;
}

.dd-menu > li > a span::after {
  transform: translateY(100%);
}
.dd-menu > li > a:focus span,
  .dd-menu > li > a:hover span,
  .dd-menu > li > a.active span {
    transform: translateY(-100%);
}

/* Hero title */
.dd-hero__title {
  font-family: var(--font-title);
  font-weight: 700;
  color: var(--clr-light);
  font-size: 3rem;
}
.dd-hero__btn {
  position: relative;
  border: 2px solid var(--clr-light);
  border-radius: var(--radius);
  background: transparent;
  display: inline-block;
  padding: 10px 20px;
  width: 210px;
  font-size: 1.1rem;
  font-family: var(--font-title);
  color: var(--clr-light);
  font-weight: 600;
  cursor: pointer;
  transition: all .5s;
}
.dd-hero__btn:hover {
  background-color: rgba(0, 0, 0, .2);
}
.dd-hero__btn i {
  position: absolute;
  right: 15px;
  transition: all .25s;
}
.dd-hero__btn:hover i {
  right: 20px;
}

.dd-hero__img {
  position: relative;
  width: 475px;
  height: 475px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 1;
}
.dd-hero__img::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: "";
  left: 0;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 0 0 50px rgba(0, 0, 0, .15), 0 0 0 30px rgba(0, 0, 0, .1) inset;
  z-index: -1;
  transition: all 5s;
  border-radius: 50%;
  border-radius: 50% 100% / 100% 50%;
  animation: animateOverlayBox 5s infinite linear ;
}

@keyframes animateOverlayBox {
  0%, 100% {
    border-radius: 50% 100% / 100% 50%;
  }
  50% {
    border-radius: 100% 50% / 50% 100%;
  }
}

/* Card */
.dd-card {
  position: relative;
  background-color: rgba(255, 255, 255, .9);
  padding: 25px;
  border-radius: var(--radius);
  cursor: pointer;
  transition: all .25s ease-out;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .15);
  overflow: hidden;
  margin: 30px;
  /* margin-left: 0; */
}
.dd-card:hover {
  box-shadow: 0 10px 29px 0 rgba(0, 0, 0, .12);
  transform: translateY(-5px);
}
.dd-card::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px solid var(--clr-primary);
  opacity: .5;
}
.dd-card.c1::after {
  right: -30px;
  top: 30px;
}
.dd-card.c2::after {
  left: 30px;
  bottom: -30px;
}
.dd-card.c3::after {
  right: 30px;
  top: -30px;
}
.dd-card.c4::after {
  left: -20px;
  bottom: -20px;
}
.dd-card__icon {
  width: 60px;
}

.icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-image: url(../icons/feature1.svg);
  background-size: 60px;
  background-repeat: no-repeat;
}

/* Form elements */
.dd-link {
  position: relative;
  display: inline-block;
  color: var(--clr-gray);
  font-weight: 500;
  font-size: .95rem;
  font-family: var(--font-title);
  text-decoration: none;
  z-index: 1;
}
.dd-link.light {
  color: var(--clr-light);
}
.dd-link:hover {
  color: var(--clr-dark);
}
.dd-link.light:hover {
  color: var(--clr-light);
}
.dd-link::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  background-color: var(--clr-primary);
  left: 0;
  z-index: -1;
  transition: all .15s;
}
.dd-link:hover::after {
  height: 8px;
}

/* Typography */
.dd-title {
  font-family: var(--font-title);
  font-weight: 600;
  color: var(--clr-dark);
}
.dd-title.white {
  color: var(--clr-light);
}
.dd-txt {
  font-family: var(--font-content);
  font-weight: normal;
  color: var(--clr-dark);
}
.dd-txt-white {
  font-family: var(--font-content);
  font-weight: normal;
  color: var(--clr-light);
  margin: 0;
}
.dd-txt-gray {
  font-family: var(--font-content);
  font-weight: normal;
  color: var(--clr-gray);
}
.dd-heading {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 2rem;
  color: var(--clr-primary);
}
.dd-hero__img img {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.dd-title__gray {
  font-family: var(--font-title);
  color: var(--clr-gray);
}

/* Sections */
.section {
  padding: 50px 0;
}
/* Section: Features */
.section-features {
  position: relative;
  margin-bottom: 60px;
}
.section-features .section-feature__content::after, .section-features .section-feature__content::before {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  background: aliceblue;
  z-index: -1;
}
.section-features .section-feature__content::after {
  border-radius: 57% 68%;
  left: -50px;
  top: 120px;
}
.section-features .section-feature__content::before {
  border-radius: 68% 57%;
  bottom: -50px;
  right: -20px;
}

/* Section: Services */
.section-services {
  position: relative;
  background: aliceblue;
}
.dd-services__block {
  position: relative;
  padding: 15px;
  transition: all .25s ease-out;
  z-index: 1;
}
.dd-services__block:hover {
  transform: translateY(-5px);
}
.dd-services__block::after {
  position: absolute;
  content: "";
  left: 0;
  border-radius: var(--radius);
  top: 75px;
  width: 100%;
  height: calc(100% - 75px);
  transition: all .25s ease-out;
  z-index: -1;
}
.dd-services__block:hover::after {
  background-color: var(--clr-light);
  box-shadow: 0 5px 7px rgba(0, 0, 0, .2);
}
.dd-service__title {
  font-family: var(--font-title);
  color: var(--clr-gray);
}
.dd-service__ico {
  width: 200px;
}

/* section Pricing */
.section-pricing {
  position: relative;
  overflow: hidden;
}
.dd-pricing__card {
  position: relative;
  width: 280px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--clr-secondary);
  border-radius: var(--radius);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  transition: all .25s;
  cursor: pointer;
  overflow: hidden;
}
.dd-pricing__card:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
  transform: translateY(-5px);
}
.dd-pricing__card.special {
  background: var(--clr-primary);
}
.dd-pricing__card--special {
  position: absolute;
  top: 20px;
  font-family: var(--font-title);
  color: var(--clr-gray);
  font-weight: 500;
  right: -30px;
  width: 130px;
  background-color: var(--clr-light);
  padding: 5px;
  transform: rotate(45deg);
}
.dd-pricing__title {
  font-family: var(--font-title);
  font-weight: 300;
  font-size: 2rem;
  color: var(--clr-light);
}
.dd-pricing__price {
  font-family: var(--font-title);
  color: var(--clr-light);
  font-weight: 700;
  font-size: 2.2rem;
}
.dd-pricing__list {
  list-style: none;
  padding: 0;
}
.dd-pricing__list li {
  font-family: var(--font-content);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 0;
  color: #fff;
}
.dd-pricing__btn {
  cursor: pointer;
  font-family: var(--font-title);
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  border: 0;
  padding: 15px 30px;
  outline: none;
  border-radius: var(--radius);
  transition: all .25s;
}
.dd-pricing__btn:hover {
  background: var(--clr-light);
  color: var(--clr-dark);
}

/* Section: Testimonials */
.slick-track {
  margin-left: 15px !important;
}
.slick-testimonials {
  margin-bottom: 50px;
}
.section-testimonials {
  position: relative;
}
.section-testimonials::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-secondary);
  opacity: .3;
  z-index: -1;
}
.dd-testimonial__card {
  position: relative;
  margin-top: 50px;
  outline: none;
}
.dd-card.testimonial {
  margin: 50px;
  margin-left: 0;
}
.dd-testimonial__card .dd-card {
  padding-top: 25px;
}
.dd-testimonial__thumbnail {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: var(--radius);
  top: -25px;
  left: 15px;
  z-index: 99;
  background: var(--clr-light);
  box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}
.dd-testimonial__name {
  position: absolute;
  top: 5px;
  left: 125px;
  font-family: var(--font-title);
  font-weight: 600;
  color: #4c4c4c;
}
.dd-testimonial__role {
  position: absolute;
  top: 25px;
  left: 125px;
  font-family: var(--font-content);
  font-weight: 500;
  color: #6c6c6c;
  font-size: 15px;
}

/* Section: contact  */
.section-contact {
  position: relative;
  background-color: aliceblue;
  overflow: hidden;
}
.dd-form__group {
  position: relative;
  margin-bottom: 10px;
}
.dd-form__group.txtarea .dd-form__input {
  height: 120px;
}
.dd-form__group.txtarea i {
  top: 25px;
  transform: translateY(0);
}
.dd-form__group i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(.4);

  z-index: 9;
}
.dd-form__group .dd-form__input {
  padding-left: 50px;
}
.dd-contact__panel {
  margin-left: 15px;
}
.dd-contact__map {
  border-radius: var(--radius);
  filter: invert(75%);
}
.dd-cotact__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dd-cotact__list li {
  display: inline-block;
  width: 100%;
  font-family: var(--font-content);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--clr-gray);
}
.dd-cotact__list li img {
  width: 20px;
  filter: invert(.4);
}
.dd-contact__newsletter {
  background: linear-gradient(135deg, var(--clr-primary), var(--clr-secondary));
  padding: 50px;
  border-radius: var(--radius);
}
.dd-contact__social {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
.dd-contact__social li {
  display: inline-block;
}
.dd-contact__social li a i {
  font-size: 30px;
  margin-right: 20px;
  transition: all .25s;
  color: var(--clr-primary);
}
.dd-contact__social li a:hover i {
  color: var(--clr-secondary);
  transform: translateY(-5px);
}
.dd-contact--form__group {
  display: inline-block;
  position: relative;
  width: 400px;
}
.dd-contact--form__group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 1.15rem;
  opacity: .4;
}
.dd-subscribe__input {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
  height: 40px;
  background: rgba(255, 255, 255, .9);
  border: 1px solid var(--clr-light);
  padding-left: 35px;
  padding-right: 80px;
  font-family: var(--font-content);
  color: var(--clr-dark);
  font-size: 1rem;
  outline: none;
  border-radius: var(--radius);
  transition: all .25s ease-out;
}
.dd-subscribe__input:focus {
  background: var(--clr-light);
  border-color: var(--clr-light);
}
.dd-subscribe__input:focus + .dd-subscribe__btn {
  border-left: 1px solid #ccc;
}
.dd-subscribe__btn {
  position: absolute;
  font-family: var(--font-content);
  color: var(--clr-dark);
  font-weight: 700;
  height: 40px;
  border-radius: 0 5px 5px 0;
  right: 0;
  z-index: 3;
  border: 0;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, .9);
}

/* Random half circles inside section */
.section-circle::before, .section-circle::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 10px solid var(--clr-primary);
  opacity: .5;
}
.section-circle::before {
  top: -40px;
  left: 25%;
}
.section-circle::after {
  bottom: -40px;
  right: 25%;
}

/* input form field */
.dd-form__input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  border-radius: var(--radius);
  padding: 20px;
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid #ccc;
  font-family: var(--font-title);
  transition: all .25s ease-out;
  font-size: 1.2rem;
  font-weight: 300;
  outline: none;
}
.dd-form__input:focus {
  background-color: var(--clr-light);
  border-color: var(--clr-primary);
  box-shadow: 0 0 0 1px var(--clr-primary);
}

/* btn */
.dd-form__btn {
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-family: var(--font-title);
  font-weight: 600;
  border: 0;
  border-radius: var(--radius);
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .25s ease-out;
  outline: none;
}
.dd-form__btn:hover {
  background-color: var(--clr-secondary);
  transform: translateY(-5px);
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

/* Customize Slick  */
.slick-arrow {
  position: absolute;
  bottom: -30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr-primary);
  background-size: 20px 20px;
  border-radius: var(--radius);
  color: var(--clr-light);
  cursor: pointer;
  outline: none;
}
.slick-arrow.prev-arrow {
  left: 0;
}
.slick-arrow.next-arrow {
  left: 50px;
}

/* Footer */
.dd-footer {
  position: relative;
  padding: 25px;
  background-color: #2c2c2c;
}
.dd-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dd-footer__list li {
  display: inline-block;
}
.dd-footer__list li a {
  text-decoration: none;
  font-size: .9rem;
  margin-left: 15px;
  font-family: var(--font-title);
  color: #ccc;
  display: inline-block;
  transition: all .25s ease-out;
}
.dd-footer__list li a:hover {
  color: var(--clr-light);
}
.dd-go-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-primary);
  width: 40px;
  height: 40px;
  border-radius: var(--radius);
  text-align: center;
  top: -10px;
}
.dd-go-top i {
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--clr-light);
}

/* Media query */
@media (min-width: 768px) and (max-width: 1200px) {
  .grid[class*="grid-"] {
    grid-template-columns: 1fr 1fr;
  }
  .dd-hero {
    min-height: 400px;
  }
  .dd-header, .container {
    width: 90%;
  }
  .dd-menu > li > a {
    padding: 0 5px;
  }
  .dd-hero__img {
    width: 300px;
    height: 300px;
  }
  .dd-card {
    margin: 10px;
  }
}
/* Small screen size */
@media (max-width: 768px) {
  .grid[class*="grid-"] {
    grid-template-columns: 1fr;
  }
  .container {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  /* Menu */
  .dd-header {
    width: calc(100% - 30px);
    padding: 10px 0;
  }
  .dd-header .dd-header__bar {
    position: absolute;
    width: 30px;
    height: 20px;
    cursor: pointer;
    right: 0;
    top: 15px;
    display: inline-block;
    transition: all .25s;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .dd-header.sticky .dd-header__bar {
    right: 15px;
  }
  .dd-header__bar span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    background-color: var(--clr-light);
    transition: all .25s ease-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .dd-header__bar span:first-child {
    top: 0;
    transform-origin: top left;
  }
  .dd-header__bar span:nth-child(2) {
    top: 50%;
  }
  .dd-header__bar span:last-child {
    top: 20px;
    transform-origin: bottom left;
  }
  .dd-header__bar.active span:first-child {
    transform: rotate(45deg);
  }
  .dd-header__bar.active span:nth-child(2) {
    display: none;
  }
  .dd-header__bar.active span:last-child {
    transform: rotate(-45deg);
  }
  .dd-header.sticky {
    padding: 12px 20px;
  }
  .dd-header .dd-menu {
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(135deg, var(--clr-primary), var(--clr-secondary));
  }
  .dd-header.sticky .dd-menu {
    background: transparent;
  }
  .dd-logo {
    position: relative;
  }
  .dd-menu {
    width: 100%;
    margin: 0;
    float: left;
    padding: 0;
    padding-top: 15px;
    display: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .dd-menu li {
    width: 100%;
    margin: 7px 0;
  }
  /* Hero */
  .dd-hero {
    height: 70vh;
    min-height: 400px;
    margin-bottom: 20px;
  }
  .dd-hero::after {
    transform: scale(1);
    height: 80vh;
    border-radius: 0 0 15% 15%;
  }
  .dd-hero__title {
    margin-top: 50px;
    font-size: 2.3rem;
  }
  .dd-hero__img {
    width: 225px;
    height: 225px;
  }
  .dd-card {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
  }
  .dd-contact__newsletter {
    padding: 20px;
  }
  .dd-contact--form__group {
    width: 100%;
  }
  .dd-card.testimonial {
    margin: 50px 30px;
    margin-left: 0;
  }
  .dd-pricing__card {
    width: 85%;
  }
  .dd-contact__panel {
    margin-left: 0;
  }
  .d-text-right, .d-text-left {
    text-align: center;
  }
}

@media (max-height: 800px) {
  .dd-hero {
    height: 80vh;
  }
  .dd-hero__img {
    width: 400px;
    height: 400px;
  }
}